#container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#game-area{

    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.row{
    height:180px;
    width:180px;
    margin: 5px;
    background-color: aquamarine;
}
.row > div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.row > div > span{
    font-size: xx-large;
    font-weight: 900;
    font-style: normal;    
}

#radio_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}