#container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#game-area{

    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.row{
    height:180px;
    width:180px;
    margin: 5px;
    background-color: aquamarine;
}